Repository SwaprHQ/stackly-ui, pull requests merged in 2023-09, with the labels that each got.

#76 fix: padding on StackModal, default color and more
  packages/app/app/layout.tsx
  packages/app/components/stack-modal/StackModal.tsx
  packages/app/components/stack-modal/StackProgress.tsx
  packages/app/components/token-picker/TokenPicker.tsx
  packages/app/ui/buttons/base.ts
  packages/app/ui/modal/ModalContent.tsx
  packages/app/ui/modal/ModalFooter.tsx
  packages/app/ui/modal/ModalHeader.tsx
Labels: design-review

#83 [STK-141][FEAT] - Add start datetime logic
  packages/app/components/DatePicker.tsx
  packages/app/components/stackbox/Stackbox.tsx
  packages/app/public/assets/icons/index.tsx
  packages/app/public/assets/icons/info.svg
  packages/app/ui/icon/Icon.tsx
Labels: feature

#91 feat: add multiple token lists per chain
  packages/app/contexts/TokenListContext.tsx
Labels: feature

#85 Landing: Add steps section
  packages/landing/app/layout.tsx
  packages/landing/app/page.tsx
  packages/landing/public/assets/images/step1.png
  packages/landing/public/assets/images/step2.png
  packages/landing/public/assets/images/step3.png
  packages/landing/ui/text/base.ts
Labels: landing

#90 feat: add footer brand social banner
  packages/landing/app/page.tsx
  packages/landing/constants/index.ts
  packages/landing/public/assets/icons/discord.svg
  packages/landing/public/assets/icons/index.tsx
  packages/landing/public/assets/icons/swapr.svg
  packages/landing/public/assets/icons/twitter.svg
  packages/landing/public/assets/images/stackly-logo.svg
  packages/landing/ui/icon/Icon.tsx
Labels: landing

#93 landing: add DCA section
  packages/landing/app/page.tsx
Labels: landing

#95 Landing: add cta banner
  packages/landing/.gitignore
  packages/landing/app/page.tsx
  packages/landing/components/TryStacklyBanner/TryStacklyBanner.tsx
  packages/landing/components/TryStacklyBanner/index.ts
  packages/landing/components/index.ts
  packages/landing/next-env.d.ts
  packages/landing/public/assets/images/coins.svg
  packages/landing/public/assets/images/green-folders.svg
  packages/landing/public/assets/images/index.tsx
  packages/landing/tailwind.config.js
Labels: landing

#96 Landing: final polishing
  packages/app/app/opengraph-image.jpg
  packages/app/app/opengraph-image.png
  packages/app/app/twitter-image.jpg
  packages/app/app/twitter-image.png
  packages/app/ui/buttons/base.ts
  packages/landing/app/opengraph-image.jpg
  packages/landing/app/opengraph-image.png
  packages/landing/app/page.tsx
  packages/landing/app/twitter-image.jpg
  packages/landing/app/twitter-image.png
  packages/landing/components/QAndAAccordion/QAndAAccordion.tsx
  packages/landing/components/TryStacklyBanner/TryStacklyBanner.tsx
  packages/landing/components/navbar/MobileMenu.tsx
  packages/landing/components/navbar/Navbar.tsx
  packages/landing/public/assets/images/landing-amount-widget.png
  packages/landing/public/assets/images/stackly-logo.svg
  packages/landing/tailwind.config.js
  packages/landing/ui/buttons/base.ts
  packages/landing/ui/text/DisplayText.tsx
  packages/landing/ui/text/HeadingText.tsx
Labels: landing

#98 landing: replace images
  packages/landing/app/page.tsx
  packages/landing/public/assets/images/landing-amount-widget.png
  packages/landing/public/assets/images/landing-widget.png
  packages/landing/public/assets/images/step1.png
  packages/landing/public/assets/images/step2.png
  packages/landing/public/assets/images/step3.png
Labels: landing

#99 landing: improve responsivess and copy
  packages/landing/app/page.tsx
  packages/landing/components/TryStacklyBanner/TryStacklyBanner.tsx
  packages/landing/ui/buttons/base.ts
  packages/landing/ui/text/DisplayText.tsx
Labels: landing

#102 landing: add audit link to hero
  packages/landing/app/page.tsx
  packages/landing/public/assets/images/omega-team-logo.svg
Labels: landing

#100 fix: Stack shows it has remaining funds when it has not
  packages/app/models/stack-order/stack-order.ts
Labels: bug
